@import "tailwindcss";

body {
  background: linear-gradient(
    to bottom,
    #0f172a,
    #111827,
    #09090b
  );

  color: white;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}